.filtergrid-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
@media only screen and (max-width: 995px) {
  .filtergrid-container {
    display: flex;
    flex-direction: column;
  }
}
